<form action="/orders/create" method="POST">
  <!-- Customer field -->
  <label for="customerId">Customer ID:</label><br />
  <input type="number" id="customerId" name="customerId" value="" /><br />
  <!-- Total Price field -->
  <label for="totalPrice">Total Price:</label><br />
  <input
    type="number"
    step="0.01"
    id="totalPrice"
    name="totalPrice"
    value=""
  /><br /><br />
  <input type="submit" value="Submit" />
</form>
